/* General styles */
.trip-summary {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  margin: 20px;
}

.trip-summary h2 {
  text-align: center;
}


.days-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.day-summary {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.destination-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.destination-summary span {
  font-weight: bold;
}

.progress-bar-container {
  margin: 20px 0;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.progress-bar-background {
  background-color: #f0f0f0;
  border-radius: 20px;
  width: 100%;
  height: 20px;
  position: relative;
}

.progress-bar {
  background-color: #4caf50; /* Green color */
  height: 100%;
  border-radius: 20px;
  transition: width 0.5s ease;
}

.progress-text {
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}


/* Styles for visited and not-visited destinations */
.not-visited-btn {
  background-color: #f0ad4e;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.visited-btn {
  background-color: #5bc0de;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.not-visited {
  color: #102802;
}

.visited {
  color: #5f1073;
}
